.swiper {
  width: 100%;
  height: 90vh;
  padding: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 20px ;

  /* height: 50vh; */

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 95%;
  object-fit:cover;
  border-radius: 20px ;

}
